@font-face {
  font-family: calculatorFont1;
  src: url(Calculator.ttf);
}
@font-face {
  font-family: calculatorFont2;
  src: url(digital-7.ttf);
}
@font-face {
  font-family: calculatorFont3;
  src: url(alarm_clock.ttf);
}
@font-face {
  font-family: calculatorFont4;
  src: url(digital.ttf);
}
@font-face {
  font-family: calculatorFont5;
  src: url(lcd.ttf);
}
@font-face {
  font-family: calculatorFont6;
  src: url(Technology.ttf);
}

@font-face {
  font-family: calculatorFont7;
  src: url(Seven.ttf);
}


#calculator {
  margin: 60px auto;
  width: 400px;
}


#display-area {
  background-color: black;
  border-style: solid solid none;
  border-radius: 15px 15px 0 0;  /* or 10px? */
  padding: 0 15px 30px; 
}
#top {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#solar-panel {
  background-color: #49312C;
  width: 100px;
  height: 35px;
  margin: auto 0;
}
#display {
  background-color: azure;
  margin: auto;
  height: 255px;
  border-radius: 10px;
  font-size: xxx-large;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#display > p {
  height: 1em;
  margin: 0;
  text-align: right;
}
#display .neg {
  position: relative;
  top: -5px;
}


#button-area {
  background-color: lightgray;
  border-style: none solid solid;
  border-radius: 0 0 15px 15px;
  height: 320px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 15px;
  padding: 15px;  
}
#plus {
  grid-column: 4;
  grid-row: 4 / 6;
}
#button-area > button {  
  border-radius: 10px;
  color: white;
  font-size: xx-large;
}
.num-btn {
  background-color: black;
}
.op-btn {
  background-color: darkgray !important;
}
.clear-btn {
  background-color: #B77587 !important;  /* or lightcoral? */
}


#debug-info {
  width: 400px;
  margin: 0 auto;
  position: relative;
  top: -750px;
  left: 450px;
}
#debug-info > button {
  padding: 10px 20px;
  margin: 0 5px;
}